<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsef19a007.kidslearningapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/KidsLearningApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidsLearningApp">
        <activity
            android:name=".Score_Activity"
            android:exported="false" />
        <activity
            android:name=".Quiz_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Ten_Activity"
            android:exported="false" />
        <activity
            android:name=".Nine_Activity"
            android:exported="false" />
        <activity
            android:name=".Eight_Activity"
            android:exported="false" />
        <activity
            android:name=".Seven_Activity"
            android:exported="false" />
        <activity
            android:name=".Six_Activity"
            android:exported="false" />
        <activity
            android:name=".Five_Activity"
            android:exported="false" />
        <activity
            android:name=".Four_Activity"
            android:exported="false" />
        <activity
            android:name=".Three_Activity"
            android:exported="false" />
        <activity
            android:name=".Two_Activity"
            android:exported="false" />
        <activity
            android:name=".One_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>